// Импорты
@use 'variables' as *;
@use 'mixins' as *;
@use 'grid' as *;
@use 'progect' as *;
@use 'arrow-top' as *;
@use 'slider-element.scss' as *;
@use 'apartments-list.scss' as *;

@use 'sass:color'; // встроенный модуль color


// Глобальные стили
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Типографика
h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}
h1 {
    font-size: 54px;
}

// Утилитные классы
.container {
  max-width: 1440px;
//   max-width: calc(1440px - 2*$spacing-md);
  margin: 0 auto;
  padding: 0 !important;
//   padding: 0 $spacing-md;
  
  @include respond-to(md) {
    padding: 0 $spacing-lg;
  }
}

.btn {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &--primary {
    background-color: $primary-color;
    color: white;
    
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }
  
  &--secondary {
    background-color: $secondary-color;
    color: white;
    
    &:hover {
      background-color: color.adjust($secondary-color, $lightness: -10%);
    }
  }
}

// Grid система
.grid {
  display: grid;
  gap: $spacing-md;
  
  &--2 {
    grid-template-columns: 1fr;
    
    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  &--3 {
    grid-template-columns: 1fr;
    
    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.col {
    &-filters {
        order: 0; 
        
        .filter {
            max-width: 80%;
            margin-right: auto;
            margin-left: 10px;
            margin-bottom: 1rem;
        }
    }
    &-content {
        order: 1;
    }

    @include respond-to(lg) {
        &-filters {
          order: 1;  
        }
        &-content {
            order: 0;
        }
    }

}


.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    margin:0 10px;
}

.text-hidden-lg {
    display: none;
     @include respond-to(lg) {
        display: block;
     }
}